*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* navegação */
.navegacao {
    background-color: #d60000;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: relative;
}

.logo img {
    height: 50px;
}

.menu-do-meio {
    background-color: white;
    padding: 10px 80px;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-do-meio a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 50px;
}

.link-ativo {
    color: #d60000;
}

.link-apagado {
    color: #333;
}

/* pagina inicial */
.bloco-principal {
    margin-top: 100px;
    padding: 40px 10%;
}

.texto-escuro,
.texto-claro {
    font-size: 100px;
}

.texto-escuro {
    color: #3d1c1c;
}

.texto-claro {
    color: #d64545;
    margin-top: 5px;
}

.botao {
    background-color: #d60000;
    color: white;
    border: 2px solid transparent;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: white;
    color: #d60000;
    border-color: #d60000;
}

.frase-pequena {
    color: #888;
    margin-top: 30px;
    font-size: 24px;
}

/* imagem vegetais */
.hero {
    position: relative;
    height: calc(100vh - 90px);
    overflow: hidden;
}

.vegetais {
    pointer-events: none;
    position: absolute;
    bottom: -40px;
    margin-top: 20px;
    left: 0;
    width: 100%;
}

.vegetais img {
    width: 100%;
    display: block;
}

/* segunda pagina */
.pagina-ingredientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.secao-topo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 20px;
    width: 100%;
    max-width: 1200px;
}

.area-geladeira img {
    margin-top: -80px;
    width: 450px;
    max-width: 100%;
}

.geladeira { display: none; }
.vazia { display: block; }

/* ingredientes */
.area-lista {
    background: white;
    font-style: bold;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 350px;
}

.area-lista h2 { margin-bottom: 20px; color: #333; }

.area-lista label {
    display: block;
    background: #f4f4f4;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* modos de preparo */
.secao-preparo {
    background-color: #ff3b3b;
    width: 100%;
    padding: 60px 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.opcoes-preparo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    margin-top: 40px;
    padding: 20px;
}

.card-preparo {
    background: white;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border: 10px solid transparent;
    
}
.card-preparo img {
    width: 10000px;
    height: 500px;
    object-fit: contain;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.check-v {
    position: absolute;
    top: -15px;      
    right: -15px;   
    background: white;
    color: #d60000;
    width: 60px;     
    height: 60px;    
    border-radius: 50%;
    display: none;  
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border: 5px solid #d60000; 
    z-index: 10;     
}

.check-v::before { 
    content: '✓'; 
}

/* Resultados (receitas) */
.secao-final {
    padding: 60px 0;
    background-color: white;
    width: 100%;
    text-align: center;
}

.secao-final h2 {
    margin-bottom: 40px;
    font-size: 28px;
    color: #333;
}

.container-resultados {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Cards com as receitas */
.card-resultado {
    display: none;
    width: 240px;
    background-color: #d60000; 
    border: 4px solid #8b0000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.card-resultado:hover {
    transform: translateY(-10px);
}

.card-resultado img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 4px solid #8b0000;
}

.info-texto {
    padding: 15px;
}

.info-texto h3 {
    color: white !important;
    font-size: 18px;
    margin-bottom: 5px;
}

.info-texto p {
    color: white !important;
    font-size: 14px;
    opacity: 0.9;
}

/* seleção dos ingredientes */
#carne:checked ~ .pagina-ingredientes .media,
#frango:checked ~ .pagina-ingredientes .media,
#queijo:checked ~ .pagina-ingredientes .media,
#ovo:checked ~ .pagina-ingredientes .media,
#arroz:checked ~ .pagina-ingredientes .media,
#tomate:checked ~ .pagina-ingredientes .media {
    display: block;
}

#carne:checked ~ .pagina-ingredientes .vazia,
#frango:checked ~ .pagina-ingredientes .vazia,
#queijo:checked ~ .pagina-ingredientes .vazia,
#ovo:checked ~ .pagina-ingredientes .vazia,
#arroz:checked ~ .pagina-ingredientes .vazia,
#tomate:checked ~ .pagina-ingredientes .vazia {
    display: none;
}

#carne:checked ~ .pagina-ingredientes label[for="carne"],
#frango:checked ~ .pagina-ingredientes label[for="frango"],
#queijo:checked ~ .pagina-ingredientes label[for="queijo"],
#ovo:checked ~ .pagina-ingredientes label[for="ovo"],
#arroz:checked ~ .pagina-ingredientes label[for="arroz"],
#tomate:checked ~ .pagina-ingredientes label[for="tomate"] {
    background: #e30606;
    color: white;
}

/* modos de preparo  */
#fogao:checked ~ .pagina-ingredientes label[for="fogao"],
#airfryer:checked ~ .pagina-ingredientes label[for="airfryer"],
#microondas:checked ~ .pagina-ingredientes label[for="microondas"] {
    border-color: #333;
}

#fogao:checked ~ .pagina-ingredientes label[for="fogao"] .check-v,
#airfryer:checked ~ .pagina-ingredientes label[for="airfryer"] .check-v,
#microondas:checked ~ .pagina-ingredientes label[for="microondas"] .check-v {
    display: flex;
}

/* receitas */

#carne:checked ~ #fogao:checked ~ .pagina-ingredientes #res-carne-fogao { display: block; }
#carne:checked ~ #airfryer:checked ~ .pagina-ingredientes #res-carne-airfryer { display: block; }
#carne:checked ~ #microondas:checked ~ .pagina-ingredientes #res-carne-micro { display: block; }

#frango:checked ~ #fogao:checked ~ .pagina-ingredientes #res-frango-fogao { display: block; }
#frango:checked ~ #airfryer:checked ~ .pagina-ingredientes #res-frango-airfryer { display: block; }
#frango:checked ~ #microondas:checked ~ .pagina-ingredientes #res-frango-micro { display: block; }

#queijo:checked ~ #fogao:checked ~ .pagina-ingredientes #res-queijo-fogao { display: block; }
#queijo:checked ~ #airfryer:checked ~ .pagina-ingredientes #res-queijo-airfryer { display: block; }
#queijo:checked ~ #microondas:checked ~ .pagina-ingredientes #res-queijo-micro { display: block; }

#ovo:checked ~ #fogao:checked ~ .pagina-ingredientes #res-ovo-fogao { display: block; }
#ovo:checked ~ #airfryer:checked ~ .pagina-ingredientes #res-ovo-airfryer { display: block; }
#ovo:checked ~ #microondas:checked ~ .pagina-ingredientes #res-ovo-micro { display: block; }

#arroz:checked ~ #fogao:checked ~ .pagina-ingredientes #res-arroz-fogao { display: block; }
#arroz:checked ~ #airfryer:checked ~ .pagina-ingredientes #res-arroz-airfryer { display: block; }
#arroz:checked ~ #microondas:checked ~ .pagina-ingredientes #res-arroz-micro { display: block; }

#tomate:checked ~ #fogao:checked ~ .pagina-ingredientes #res-tomate-fogao { display: block; }
#tomate:checked ~ #airfryer:checked ~ .pagina-ingredientes #res-tomate-airfryer { display: block; }
#tomate:checked ~ #microondas:checked ~ .pagina-ingredientes #res-tomate-micro { display: block; }

/*transições*/
.card-preparo {
    transition: all 0.4s ease;
    overflow: hidden;
}

.card-preparo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.card-preparo:hover img {
    filter: brightness(1) contrast(1.1);
}

@keyframes pulsar {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.card-preparo:hover {
    animation: pulsar 1.5s infinite;

}

